<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="sqfide.wizards.newWizards"
            name="SQF-IDE">
      </category>
      <wizard
            category="sqfide.wizards.newWizards"
            class="org.arma.side.wizards.NewMissionWizard"
            icon="icons/Arma3Logo.gif"
            id="sqfide.wizards.NewMissionWizard"
            name="New ArmA 3 Mission">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="sqfide.wizards.importWizards"
            name="Side">
      </category>
      <wizard
            category="sqfide.wizards.importWizards"
            class="org.arma.side.wizards.ImportMissionWizard"
            icon="icons/openFolderYellow.png"
            id="sqfide.wizards.ImportMissionWizard"
            name="Import ArmA 3 Mission">
         <description>
            Import (a.k.a open) an Arma 3 mission folder from the local file system into the workspace.
         </description>
      </wizard>
      <wizard
            category="sqfide.wizards.importWizards"
            class="org.arma.side.wizards.ImportPboWizard"
            icon="icons/openPboYellow.gif"
            id="sqfide.wizards.ImportPboWizard"
            name="Import PBO">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="sqfide.wizards.exportwizards"
            name="Side">
      </category>
      <wizard
            class="org.arma.side.wizards.ExportPboWizard"
            icon="icons/pbo.gif"
            id="sqfide.wizards.exportpbowizard"
            name="PBO archive">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.arma.side.launchers.Arma3LaunchConfigurationDelegate"
            id="SQF-IDE.launchConfigurationType1"
            modes="run"
            name="ArmA 3">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="SQF-IDE.launchConfigurationTypeImage1"
            icon="icons/Arma3Logo.gif"
            id="SQF-IDE.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.arma.side.launchers.Arma3TabGroup"
            id="SQF-IDE.launchConfigurationTabGroup1"
            type="SQF-IDE.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.arma.side.launchers.Arma3LaunchShortcut"
            icon="icons/Arma3Logo.gif"
            id="SQF-IDE.shortcut1"
            label="Arma 3 Mission"
            modes="run">
         <contextualLaunch>
            <enablement>
       			<with variable="selection">
            		<count value="1"/>
            		<iterate>
                		<adapt type="org.eclipse.core.resources.IResource">
                       		<test property="org.sqfide.isArmaMission"  
                        		forcePluginActivation="true"/> 
             	 		</adapt> 
          			 </iterate>
       			</with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.arma.side.launchers.Arma3RunScriptShortcut"
            icon="icons/Arma3Logo.gif"
            id="SQF-IDE.shortcut2"
            label="Arma 3 Script"
            modes="run">
         <contextualLaunch>
            <enablement>
                <with variable="selection">
            		<count value="1"/>
            		<iterate>
                		<adapt type="org.eclipse.core.resources.IResource">
                       		<test property="org.sqfide.isSQFFile"  
                        		forcePluginActivation="true"/> 
             	 		</adapt> 
          			 </iterate>
       			</with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.arma.side.launchers.SQFIDETester"
            id="org.sqfide.propertyTester1"
            namespace="org.sqfide"
            properties="isArmaMission, isSQFFile"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.arma.side.preferences.PreferencePage"
            id="sqfide.preferencePage"
            name="SQF-IDE">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.arma.side.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.arma.side.SqfPerspective"
            icon="icons/Arma3Logo.gif"
            id="side.SqfPerspective"
            name="SQF">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.workbench.file?after=new.ext">
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="icons/Arma3Logo.gif"
                  label="Open Mission"
                  style="push"
                  tooltip="Open Arma 3 mission">
               <parameter
                     name="importWizardId"
                     value="sqfide.wizards.ImportMissionWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="icons/Arma3Logo.gif"
                  label="Open Mission"
                  style="push"
                  tooltip="Open Arma 3 mission">
               <parameter
                     name="importWizardId"
                     value="sqfide.wizards.ImportPboWizard">
               </parameter>
            </command>
      </menuContribution>
      <menuContribution
         locationURI=
         "popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="sqfide.commands.includeMod"
               icon="icons/Arma3Logo.gif"
               label="Include Functions from Mod"
               mnemonic="M1+P"
               tooltip="Introduces Functions from a mod...">
               <visibleWhen>
      			    <with variable="selection">
                        <iterate operator="and" ifEmpty="false">
                             <instanceof
                                   value="org.eclipse.core.resources.IProject">
                             </instanceof>
        			    </iterate>
                    </with>
    			</visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.arma.side.openMissionHandler"
            id="sqfide.commands.openMission"
            name="Open Mission">
      </command>
      <command
            defaultHandler="org.arma.side.includeModHandler"
            description="Include Functions from Mod"
            id="sqfide.commands.includeMod"
            name="Include Functions from Mod">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="side.SqfPerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.core.runtime.IAdaptable">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.arma.side.preferences.ProjectPreferences"
            name="project">
      </scope>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.arma.side.preferences.IncludesPage"
            id="sqfide.includes"
            name="includes">
      </page>
   </extension>
   <extension
         id="side"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Side">
         <property
               name="appName"
               value="Side">
         </property>
         <property
               name="preferenceCustomization"
               value="platform:/plugin/org.arma.side.ui/plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.arma.side.RptView"
            icon="icons/rpt.png"
            id="org.arma.side.ui.RptView"
            name="RPT View"
            restorable="true">
      </view>
   </extension>
</plugin>
