<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="sqfide.editors.XMLEditor"
            id="sqfide.editors.XMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="sqfide.wizards.newWizards"
            name="SQF-IDE">
      </category>
      <wizard
            category="sqfide.wizards.newWizards"
            class="sqfide.wizards.NewMissionWizard"
            icon="icons/sample.gif"
            id="sqfide.wizards.NewMissionWizard"
            name="New ArmA 3 Mission">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="sqfide.wizards.importWizards"
            name="SQF-IDE">
      </category>
      <wizard
            category="sqfide.wizards.importWizards"
            class="sqfide.wizards.ImportMissionWizard"
            icon="icons/sample.gif"
            id="sqfide.wizards.ImportMissionWizard"
            name="Import ArmA 3 Mission">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="sqfide.launchers.Arma3LaunchConfigurationDelegate"
            id="SQF-IDE.launchConfigurationType1"
            modes="run"
            name="ArmA 3">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="SQF-IDE.launchConfigurationTypeImage1"
            icon="icons/Arma3Logo.gif"
            id="SQF-IDE.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="sqfide.launchers.Arma3TabGroup"
            id="SQF-IDE.launchConfigurationTabGroup1"
            type="SQF-IDE.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="sqfide.launchers.Arma3LaunchShortcut"
            icon="icons/Arma3Logo.gif"
            id="SQF-IDE.shortcut1"
            label="Arma3"
            modes="run">
         <contextualLaunch>
            <enablement>
       			<with variable="selection">
            		<count value="1"/>
            		<iterate>
                		<adapt type="org.eclipse.core.resources.IResource">
                       		<test property="org.sqfide.isArmaMission"  
                        		forcePluginActivation="true"/> 
             	 		</adapt> 
          			 </iterate>
       			</with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="sqfide.launchers.SQFIDETester"
            id="org.sqfide.propertyTester1"
            namespace="org.sqfide"
            properties="isArmaMission"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>

</plugin>
