<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="sqfide.editors.XMLEditor"
            id="sqfide.editors.XMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="sqfide.wizards.newWizards"
            name="SQF-IDE">
      </category>
      <wizard
            category="sqfide.wizards.newWizards"
            class="sqfide.wizards.NewMissionWizard"
            icon="icons/sample.gif"
            id="sqfide.wizards.NewMissionWizard"
            name="New ArmA 3 Mission">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="sqfide.wizards.importWizards"
            name="SQF-IDE">
      </category>
      <wizard
            category="sqfide.wizards.importWizards"
            class="sqfide.wizards.ImportMissionWizard"
            icon="icons/sample.gif"
            id="sqfide.wizards.ImportMissionWizard"
            name="Import ArmA 3 Mission">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         id="org.eclipse.jdt.launching.arma3Launcher"
         name="ArmA 3 Launcher"
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="sqf_ide.Arma3LaunchConfigurationDelegate"
            id="SQF-IDE.launchConfigurationType1"
            modes="run"
            name="name">
      </launchConfigurationType>
   </extension>
   <extension
         id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.arma3"
         name="ArmA 3 icon"
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="SQF-IDE.launchConfigurationTypeImage1"
            icon="icons/Arma3Logo.gif"
            id="SQF-IDE.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="abstractlaunchconfigurationtabgroup.AbstractLaunchConfigurationTabGroup1"
            id="SQF-IDE.launchConfigurationTabGroup1"
            type="org.eclipse.jdt.launching.javaApplet">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
