<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/arma/sqf" 
       class = "org.arma.xtext.sqf.SqfPackage"
       genModel = "model/generated/Sqf.genmodel" /> 
	
  </extension>



</plugin>
